APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_DB=mini_social
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET_KEY=supersecretkey
JWT_REFRESH_SECRET_KEY=anothersecretkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
