# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Env files
.env

# IDE
.idea/
.vscode/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
